/node_modules
/vendor

/.env
/.env.*

/storage/*.key
/storage/framework/*
/storage/logs/*
!/storage/framework/.gitignore

/public/storage

.phpunit.result.cache
composer.lock
package-lock.json
yarn.lock

.idea
.vscode
.DS_Store
